@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #111;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#digital-web-clock {
  transform: scaleY(2);
  color: #dc143c;
  font-size: 4rem;
  line-height: 1;
  word-break: break-word;
}

.vertical-line {
  position: absolute;
  width: .1rem;
  height: 100vh;
  background-color: #fff;
  animation: moveLine 25s linear infinite;
}

@keyframes moveLine {
  0% {
      top: 0;
      left: 0;
  }
  99.99% {
      left: calc(100vw - 1rem);
  }
  100% {
      top: 0;
      left: 0;
  }
}

@media screen and (min-width: 546px) {
  #digital-web-clock {
    font-size: 10rem;
  }
}

@media screen and (min-width: 992px) {
  #digital-web-clock {
    font-size: 15rem;
  }
}

@media screen and (min-width: 1200px) {
  #digital-web-clock {
    font-size: 18rem;
  }
}

@media screen and (min-width: 1366px) {
  #digital-web-clock {
    font-size: 20rem;
  }
}
